body {
  background: #24353f;
}
input {
  background-color: #24353f !important;
  color: white !important;
}
input::placeholder {
  color: #ced4da !important;
}
a {
  text-decoration: none;
  color: white;
}
